

<div class="col-12 row mt-4">

<div class="col-6">
  <button class="btn btn-primary" style="border: 1px solid black;
margin-bottom: 11px;
background: red;" class="btn" mat-button (click)="openDialog()">Add Box</button>

<ol>
  <p>Instruction</p>
  <li>For better visualization , use box height and width 100 px</li>
  <li>Please select the with and height of a box in between 700px and 600px respectively.</li>
  <li>Click on the box , then box color will change to yellow , then you will be able to drag it</li>
  <li>Used key are a-s-d-w</li>
  <li>w :- to go up</li>
  <li>s:- to go down</li>
  <li>a :- to go left</li>
  <li>d :- to go right</li>
</ol>
</div>

<div class="col-6">
  <div class="drabbleArea" style="width: 700px;height: 600px;border: 1px solid black;">
    <div class="box" [ngStyle]="{'height': item.dimension.height , 'width' : item.dimension.width , background:item.background , 'z-index' : item.id}" [ngClass]="{'active': item.active}" cdkDrag [cdkDragFreeDragPosition]=item.position  cdkDragBoundary=".drabbleArea" [cdkDragDisabled]=item.status  *ngFor="let item of boxes;" (click)="boxClick(item.id)" >
      {{item.name}}
    </div>
  </div>
</div>



</div>
